.home-view {
  background-color: #C8D5B9;
  padding: 40px;
}
.home-view a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.home-view a span {
  font-family: 'courier new', monospace;
  color: #000000;
  background-color: #DDDDDD;
  font-size: 15px;
  padding: 0 5px;
}