.static-data-param-view {
  padding: 40px;
  background: #E2856E;
}
.static-data-param-view h3 {
  font-family: 'courier new', monospace;
  display: inline;
  color: #000000;
  font-weight: initial;
  background-color: #DDDDDD;
  padding: 0 20px;
}
.static-data-param-view p {
  padding: 0 20px;
}

.static-data-param-page-nav {
  padding: 0 10px;
}
.static-data-param-page-nav span {
  margin: 0 20px;
}
.page-prev.hidden {
  display: none;
}